<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
                <link rel="icon" href="/img/weather.png">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{!-- <h1>{{title}}</h1>
         --}}
         <div class="main-content">
             {{>header}}
             <p>This site makes use of two APIs:-</p>
             <ul>
                 <li>The site integrates MapBox API's geocoding service to get back the latitude and longitude as a response based off the location that is provided to it by the user </li>
                 <li>The site uses DarkSkyNet API to get back the weather forecast based off the latitude and longitude that is provided to it </li>
             </ul>
        
        {{!-- <img class="portrait"src="/img/download.jpg" alt=""> --}}
         </div>
         
        {{>footer}}
        <script src="" async defer></script>
    </body>
</html>